# Project exclude paths
/micro/micro-api/target/
/micro/micro-provider-dept-8001/target/

/**/*.iml
/.idea/*
# Project exclude paths
/micro/micro-consumer-dept-8000/target/
/micro/micro-config-3344/target/