<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mirai.micro.dao.DeptDao">
    <select id="findById" resultType="com.mirai.micro.entity.Dept" parameterType="Long">
        select deptNo, deptName, dbSource from dept where deptNo = #{deptNo};
    </select>
    <select id="findAll" resultType="com.mirai.micro.entity.Dept">
        select deptNo, deptName, dbSource from dept;
    </select>
    <insert id="addDept" parameterType="com.mirai.micro.entity.Dept">
        insert into dept (deptName, dbSource) values (#{deptName}, DATABASE());
    </insert>
</mapper>